html,
body,
header,
.view {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.h1-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 620%;
  margin: -20px;
  word-wrap: break-word;
}

.saseStyling {
  margin-top: 12px; 
  padding-left: 15px; 
  letter-spacing: 15px;
}

.nercStyling {
  letter-spacing: 12px; 
  padding-left: 10px; 
}

.yearStyling {
  align-content: center; 
  padding-left: 35px; 
  letter-spacing: 30px;
  margin-bottom: 10px;
}

.h2-text {
  font-size: 170%; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.dateStyling {
  letter-spacing: 2.6px; 
  margin: 15px;
}

.h3-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.locationStyling {
  font-size: 120%; 
  letter-spacing: 0px; 
  margin-top: -10px;
}

.siteStyling {
  margin-top: 70px; 
  margin-bottom: 50px;
  font-size: 190%; 
  letter-spacing: 0px;
}

.h5-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hostStyling {
  font-size: 75%; 
  letter-spacing: 1px;
  margin-top: -50px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}